{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">名前</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">管理者権限</th>
        </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                    <th>{{user[0]}}</th>
                    <td>{{user[1]}}</td>
                    <td>{{user[2]}}</td>
                    {% if user[3] == '1' %}
                    <td>管理者</td>
                    {% else %}
                    <td>一般</td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}